/*Font-Size Scss Angular Dynamic:*/
.ex-f-10 {
  font-size: 10px !important; }

.ex-f-11 {
  font-size: 11px !important; }

.ex-f-12 {
  font-size: 12px !important; }

.ex-f-13 {
  font-size: 13px !important; }

.ex-f-14 {
  font-size: 14px !important; }

.ex-f-15 {
  font-size: 15px !important; }

.ex-f-16 {
  font-size: 16px !important; }

.ex-f-17 {
  font-size: 17px !important; }

.ex-f-18 {
  font-size: 18px !important; }

.ex-f-19 {
  font-size: 19px !important; }

.ex-f-20 {
  font-size: 20px !important; }

.ex-f-21 {
  font-size: 21px !important; }

.ex-f-22 {
  font-size: 22px !important; }

.ex-f-23 {
  font-size: 23px !important; }

.ex-f-24 {
  font-size: 24px !important; }

.ex-f-25 {
  font-size: 25px !important; }

.ex-f-26 {
  font-size: 26px !important; }

.ex-f-27 {
  font-size: 27px !important; }

.ex-f-28 {
  font-size: 28px !important; }

.ex-f-29 {
  font-size: 29px !important; }

.ex-f-30 {
  font-size: 30px !important; }

.ex-f-31 {
  font-size: 31px !important; }

.ex-f-32 {
  font-size: 32px !important; }

.ex-f-33 {
  font-size: 33px !important; }

.ex-f-34 {
  font-size: 34px !important; }

.ex-f-35 {
  font-size: 35px !important; }

.ex-f-36 {
  font-size: 36px !important; }

.ex-f-37 {
  font-size: 37px !important; }

.ex-f-38 {
  font-size: 38px !important; }

.ex-f-39 {
  font-size: 39px !important; }

.ex-f-40 {
  font-size: 40px !important; }

.ex-f-41 {
  font-size: 41px !important; }

.ex-f-42 {
  font-size: 42px !important; }

.ex-f-43 {
  font-size: 43px !important; }

.ex-f-44 {
  font-size: 44px !important; }

.ex-f-45 {
  font-size: 45px !important; }

.ex-f-46 {
  font-size: 46px !important; }

.ex-f-47 {
  font-size: 47px !important; }

.ex-f-48 {
  font-size: 48px !important; }

.ex-f-49 {
  font-size: 49px !important; }

.ex-f-50 {
  font-size: 50px !important; }

.ex-f-51 {
  font-size: 51px !important; }

.ex-f-52 {
  font-size: 52px !important; }

.ex-f-53 {
  font-size: 53px !important; }

.ex-f-54 {
  font-size: 54px !important; }

.ex-f-55 {
  font-size: 55px !important; }

.ex-f-56 {
  font-size: 56px !important; }

.ex-f-57 {
  font-size: 57px !important; }

.ex-f-58 {
  font-size: 58px !important; }

.ex-f-59 {
  font-size: 59px !important; }

.ex-f-60 {
  font-size: 60px !important; }

.ex-primary-color {
  color: #6184ff !important; }

.ex-border-top-gray {
  border-top: 2px solid #dedede; }

.ex-d-flex {
  display: flex !important; }

.ex-w-100 {
  width: 100% !important; }

.ex-h-100 {
  height: 100% !important; }

.ex-pointer {
  cursor: pointer !important; }

.ex-z-index-1 {
  z-index: 1 !important; }

.ex-align-items-center {
  align-items: center !important; }

.ex-gap-1 {
  gap: 0.25rem !important; }

.ex-gap-2 {
  gap: 0.5rem !important; }

.ex-flex-column {
  flex-direction: column !important; }

.ex-m-0 {
  margin: 0 !important; }

.ex-p-0 {
  padding: 0 !important; }

.ex-pt-2 {
  padding-top: 0.5rem !important; }

.ex-pb-2 {
  padding-bottom: 0.5rem !important; }

.ex-mt-2 {
  margin-top: 0.5rem !important; }

.ex-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.ex-py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.ex-border-bottom {
  border-bottom: 1px solid #dedede !important; }

.ex-ps-4 {
  padding-left: 1.5rem !important; }

.ex-position-relative {
  position: relative !important; }

.icon-fo-undefined {
  color: #ff00fb; }
  .icon-fo-undefined:before {
    content: "\e90f"; }

.ex-m-n1 {
  margin: -0.2rem !important; }

.ex-p-n1 {
  padding: -0.2rem !important; }

.ex-mt-n1 {
  margin-top: -0.2rem !important; }

.ex-pt-n1 {
  padding-top: -0.2rem !important; }

.ex-me-n1 {
  margin-right: -0.2rem !important; }

.ex-pe-n1 {
  padding-right: -0.2rem !important; }

.ex-mb-n1 {
  margin-bottom: -0.2rem !important; }

.ex-pb-n1 {
  padding-bottom: -0.2rem !important; }

.ex-ms-n1 {
  margin-left: -0.2rem !important; }

.ex-ps-n1 {
  padding-left: -0.2rem !important; }

.ex-m {
  margin: 0rem !important; }

.ex-p {
  padding: 0rem !important; }

.ex-mt {
  margin-top: 0rem !important; }

.ex-pt {
  padding-top: 0rem !important; }

.ex-me {
  margin-right: 0rem !important; }

.ex-pe {
  padding-right: 0rem !important; }

.ex-mb {
  margin-bottom: 0rem !important; }

.ex-pb {
  padding-bottom: 0rem !important; }

.ex-ms {
  margin-left: 0rem !important; }

.ex-ps {
  padding-left: 0rem !important; }

.ex-m-1 {
  margin: 0.2rem !important; }

.ex-p-1 {
  padding: 0.2rem !important; }

.ex-mt-1 {
  margin-top: 0.2rem !important; }

.ex-pt-1 {
  padding-top: 0.2rem !important; }

.ex-me-1 {
  margin-right: 0.2rem !important; }

.ex-pe-1 {
  padding-right: 0.2rem !important; }

.ex-mb-1 {
  margin-bottom: 0.2rem !important; }

.ex-pb-1 {
  padding-bottom: 0.2rem !important; }

.ex-ms-1 {
  margin-left: 0.2rem !important; }

.ex-ps-1 {
  padding-left: 0.2rem !important; }

.ex-m-2 {
  margin: 0.4rem !important; }

.ex-p-2 {
  padding: 0.4rem !important; }

.ex-mt-2 {
  margin-top: 0.4rem !important; }

.ex-pt-2 {
  padding-top: 0.4rem !important; }

.ex-me-2 {
  margin-right: 0.4rem !important; }

.ex-pe-2 {
  padding-right: 0.4rem !important; }

.ex-mb-2 {
  margin-bottom: 0.4rem !important; }

.ex-pb-2 {
  padding-bottom: 0.4rem !important; }

.ex-ms-2 {
  margin-left: 0.4rem !important; }

.ex-ps-2 {
  padding-left: 0.4rem !important; }

.ex-m-3 {
  margin: 0.6rem !important; }

.ex-p-3 {
  padding: 0.6rem !important; }

.ex-mt-3 {
  margin-top: 0.6rem !important; }

.ex-pt-3 {
  padding-top: 0.6rem !important; }

.ex-me-3 {
  margin-right: 0.6rem !important; }

.ex-pe-3 {
  padding-right: 0.6rem !important; }

.ex-mb-3 {
  margin-bottom: 0.6rem !important; }

.ex-pb-3 {
  padding-bottom: 0.6rem !important; }

.ex-ms-3 {
  margin-left: 0.6rem !important; }

.ex-ps-3 {
  padding-left: 0.6rem !important; }

.ex-m-4 {
  margin: 0.8rem !important; }

.ex-p-4 {
  padding: 0.8rem !important; }

.ex-mt-4 {
  margin-top: 0.8rem !important; }

.ex-pt-4 {
  padding-top: 0.8rem !important; }

.ex-me-4 {
  margin-right: 0.8rem !important; }

.ex-pe-4 {
  padding-right: 0.8rem !important; }

.ex-mb-4 {
  margin-bottom: 0.8rem !important; }

.ex-pb-4 {
  padding-bottom: 0.8rem !important; }

.ex-ms-4 {
  margin-left: 0.8rem !important; }

.ex-ps-4 {
  padding-left: 0.8rem !important; }

.ex-m-5 {
  margin: 1rem !important; }

.ex-p-5 {
  padding: 1rem !important; }

.ex-mt-5 {
  margin-top: 1rem !important; }

.ex-pt-5 {
  padding-top: 1rem !important; }

.ex-me-5 {
  margin-right: 1rem !important; }

.ex-pe-5 {
  padding-right: 1rem !important; }

.ex-mb-5 {
  margin-bottom: 1rem !important; }

.ex-pb-5 {
  padding-bottom: 1rem !important; }

.ex-ms-5 {
  margin-left: 1rem !important; }

.ex-ps-5 {
  padding-left: 1rem !important; }

/* ===================== 1 */
.is-loading-light {
  pointer-events: none !important;
  position: relative !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  border: none !important;
  box-shadow: none !important;
  overflow: hidden !important;
  background-color: #f3f3ff !important; }
  .is-loading-light > * {
    opacity: 0 !important; }
  .is-loading-light:before {
    content: '';
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #f3f3ff; }
  .is-loading-light:after {
    content: '';
    width: 200% !important;
    height: 200% !important;
    position: absolute !important;
    top: -50% !important;
    left: -50% !important;
    right: -50% !important;
    bottom: -50% !important;
    transform: rotate(10deg);
    background-image: linear-gradient(90deg, transparent 0%, #ffffff80, transparent 100%);
    background-size: 50%;
    background-repeat: no-repeat;
    animation: loading-light 2s linear infinite; }

@keyframes loading-light {
  0% {
    background-position: -150%; }
  100% {
    background-position: 250%; } }

/* ===================== 2 */
.is-loading-hue {
  pointer-events: none !important;
  position: relative !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important; }
  .is-loading-hue > * {
    opacity: 0 !important; }
  .is-loading-hue:before {
    content: '' !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #f3f3ff !important;
    cursor: progress !important;
    pointer-events: all !important;
    animation: loading-hue 1s alternate infinite !important; }

@keyframes loading-hue {
  0% {
    filter: brightness(1); }
  100% {
    filter: brightness(1.03); } }

.style-dropdown-container {
  min-width: unset;
  padding: unset;
  padding-inline-start: 10px;
  margin: unset;
  border: 2px solid #949494;
  border-radius: 10px;
  position: relative;
  height: 56px;
  direction: rtl;
  /*margin-bottom: 30px;*/
  /*bottom panel*/ }
  .style-dropdown-container:focus-within {
    border-color: #6184ff !important; }
    .style-dropdown-container:focus-within .ng-placeholder {
      display: block !important;
      top: -9px !important;
      right: 16px !important;
      font-size: 10px !important; }
  .style-dropdown-container .ng-select-multiple .ng-select-container .ng-value {
    margin-left: 5px !important;
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
    padding: 2px; }
  .style-dropdown-container .ng-select .ng-select-container {
    overflow: unset !important;
    border-radius: 10px;
    box-shadow: none !important;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px; }
    .style-dropdown-container .ng-select .ng-select-container .ng-value-icon {
      display: none !important; }
    .style-dropdown-container .ng-select .ng-select-container .ng-value {
      margin-right: 0 !important;
      background-color: transparent; }
    .style-dropdown-container .ng-select .ng-select-container .ng-clear {
      margin-top: 3px; }
  .style-dropdown-container .ng-arrow-wrapper .ng-arrow {
    border-color: #949494 !important;
    border-width: 0 2px 2px 0 !important;
    padding: 4px !important;
    border-radius: 5px 0 !important;
    transform: rotate(45deg);
    transition: 0.2s; }
  .style-dropdown-container .ng-select-opened > .ng-select-container .ng-arrow {
    top: 0 !important;
    transform: rotate(-138deg) !important; }
  .style-dropdown-container .style-text-right {
    position: absolute;
    right: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494; }
  .style-dropdown-container .style-text-left {
    position: absolute;
    left: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494;
    direction: ltr; }
  .style-dropdown-container .style-icon-right {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px;
    pointer-events: none;
    z-index: 9999; }
  .style-dropdown-container .style-icon-left {
    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 22px;
    pointer-events: none;
    z-index: 9999; }
  .style-dropdown-container.style-dropdown-icon-right .style-icon-right {
    display: block; }
  .style-dropdown-container.style-dropdown-icon-right .style-dropdown .ng-select-container {
    padding-right: 40px; }
  .style-dropdown-container.style-dropdown-icon-right .ng-select-focused .ng-placeholder {
    right: 16px !important; }
  .style-dropdown-container.style-dropdown-icon-right .ng-placeholder {
    right: 40px !important; }
  .style-dropdown-container.style-dropdown-icon-left .style-icon-left {
    display: block; }
  .style-dropdown-container.style-dropdown-icon-left .style-dropdown .ng-select-container {
    padding-left: 40px; }
  .style-dropdown-container .ng-placeholder {
    color: #949494 !important;
    position: absolute !important;
    top: 13px !important;
    font-size: 12px !important;
    right: 10px !important;
    pointer-events: none !important;
    transition: 0.2s ease all !important; }
  .style-dropdown-container .ng-select .ng-has-value .ng-placeholder {
    display: block !important;
    top: -9px !important;
    right: 16px !important;
    font-size: 10px !important; }
  .style-dropdown-container .style-space-label {
    color: transparent;
    float: unset;
    width: unset;
    padding: 0 5px;
    margin-bottom: unset;
    font-size: 10px;
    line-height: unset;
    position: relative;
    user-select: none; }
    .style-dropdown-container .style-space-label::after {
      content: "-";
      background-color: #949494;
      width: 100%;
      height: 2px;
      color: transparent;
      font-weight: bold;
      position: absolute;
      top: 6.5px;
      right: 0;
      transition: 0.1s; }
  .style-dropdown-container .ng-select-focused + .style-space-label::after, .style-dropdown-container .ng-select-opened + .style-space-label::after, .style-dropdown-container .ng-selected + .style-space-label::after {
    opacity: 0 !important; }
  .style-dropdown-container .style-dropdown {
    height: 45px;
    font-size: 12px;
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    padding: 0;
    background-color: transparent !important; }
    .style-dropdown-container .style-dropdown:focus {
      outline: none !important; }
    .style-dropdown-container .style-dropdown .ng-select-container {
      border: none !important;
      min-height: 45px !important; }
    .style-dropdown-container .style-dropdown .ng-dropdown-header {
      padding: 15px 10px !important; }
  .style-dropdown-container.dropdown-disable {
    pointer-events: none;
    opacity: 50%; }
  .style-dropdown-container.dropdown-error {
    border-color: #ff395d !important; }
    .style-dropdown-container.dropdown-error .style-space-label:after {
      background-color: #ff395d; }
    .style-dropdown-container.dropdown-error .ng-placeholder {
      color: #ff395d !important; }
    .style-dropdown-container.dropdown-error .style-text-right {
      color: #ff395d; }
  .style-dropdown-container .ng-dropdown-panel {
    margin-top: 10px !important;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 25px #00000025;
    z-index: 99999; }
    .style-dropdown-container .ng-dropdown-panel .ng-dropdown-panel-items {
      border-radius: 10px; }
      .style-dropdown-container .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        padding: 15px 10px !important; }
      .style-dropdown-container .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: #fafafa !important; }
      .style-dropdown-container .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
        background-color: #f8f8f8 !important; }

.style-input-container {
  min-width: unset;
  padding: unset;
  padding-inline-start: 10px;
  margin: unset;
  border: 2px solid #949494;
  border-radius: 10px;
  position: relative;
  height: 56px;
  direction: rtl;
  /*margin-bottom: 30px;*/ }
  .style-input-container:focus-within {
    border-color: #6184ff !important; }
    .style-input-container:focus-within .style-label {
      color: #6184ff !important; }
  .style-input-container .style-text-right {
    position: absolute;
    right: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494; }
  .style-input-container .style-text-left {
    position: absolute;
    left: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494;
    direction: ltr; }
  .style-input-container .style-icon-right {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px; }
  .style-input-container .style-icon-left {
    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 22px; }
  .style-input-container.style-input-icon-right .style-icon-right {
    display: block; }
  .style-input-container.style-input-icon-right .style-input {
    padding-right: 40px; }
  .style-input-container.style-input-icon-right .style-label {
    right: 40px; }
  .style-input-container.style-input-icon-right .style-input:focus ~ .style-label {
    right: 15px; }
  .style-input-container.style-input-icon-right .style-input:not(:placeholder-shown) ~ .style-label {
    right: 15px; }
  .style-input-container.style-input-icon-left .style-icon-left {
    display: block; }
  .style-input-container.style-input-icon-left .style-input {
    padding-left: 40px; }
  .style-input-container .style-label {
    color: #949494;
    position: absolute;
    top: 7px;
    font-size: 12px;
    right: 15px;
    pointer-events: none;
    transition: 0.2s ease all; }
  .style-input-container .style-input:focus {
    border-color: none !important;
    box-shadow: none !important; }
    .style-input-container .style-input:focus ~ .style-label {
      top: -15px;
      font-size: 10px;
      transition: 0.2s ease all; }
  .style-input-container .style-input:not(:placeholder-shown) ~ .style-label {
    top: -15px;
    font-size: 10px; }
  .style-input-container .style-space-label {
    color: transparent;
    float: unset;
    width: unset;
    padding: 0 5px;
    margin-bottom: unset;
    font-size: 10px;
    line-height: unset;
    position: relative;
    user-select: none; }
    .style-input-container .style-space-label::after {
      content: "-";
      background-color: #949494;
      width: 100%;
      height: 2px;
      color: transparent;
      font-weight: bold;
      position: absolute;
      top: 6.5px;
      right: 0;
      transition: 0.1s; }
  .style-input-container .style-input:focus + .style-space-label::after {
    opacity: 0 !important; }
  .style-input-container .style-input:not(:placeholder-shown) + .style-space-label::after {
    opacity: 0 !important; }
  .style-input-container .style-input {
    height: 45px;
    font-size: 12px;
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    border: none !important;
    border-radius: 10px;
    padding: 0 16px;
    background-color: transparent !important; }
    .style-input-container .style-input:focus {
      outline: none !important; }
  .style-input-container.input-disable {
    pointer-events: none;
    opacity: 50%; }
  .style-input-container.input-error {
    border-color: #ff395d !important; }
    .style-input-container.input-error .style-space-label:after {
      background-color: #ff395d; }
    .style-input-container.input-error .style-label {
      color: #ff395d !important; }
    .style-input-container.input-error .style-text-right {
      color: #ff395d !important; }
  .style-input-container.input-without-placeholder {
    height: 49px !important; }
    .style-input-container.input-without-placeholder .style-input {
      top: 0 !important; }
    .style-input-container.input-without-placeholder .style-icon-right {
      top: 10px !important; }
    .style-input-container.input-without-placeholder .style-icon-left {
      top: 10px !important; }
    .style-input-container.input-without-placeholder .style-text-right {
      top: 52px !important; }
    .style-input-container.input-without-placeholder .style-text-left {
      top: 52px !important; }

.style-list-container {
  height: 48px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .style-list-container:hover {
    background-color: #fafafa !important; }
  .style-list-container.click-list {
    background-color: whitesmoke; }
  .style-list-container i {
    font-size: 19px; }
  .style-list-container .style-list-right-section {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap; }
    .style-list-container .style-list-right-section p {
      margin: 0;
      font-size: 14px; }
  .style-list-container .style-list-left-section {
    display: flex;
    align-items: center;
    gap: 10px; }
    .style-list-container .style-list-left-section p {
      margin: 0;
      font-size: 10px;
      white-space: nowrap;
      color: #718494; }

.style-btn {
  /*min-width: 134px;*/
  height: 44px;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 16px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
  transition: 0.2s; }
  .style-btn i {
    font-size: 24px; }
  .style-btn:hover {
    box-shadow: 0px 15px 30px 0px #00000014, 0px 10px 15px 0px #00000014, 0px 4px 10px 0px #00000014, 0px 2px 4px 0px #0000000f; }
  .style-btn:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 8px 15px rgba(0, 0, 0, 0.08), 0px 15px 20px rgba(0, 0, 0, 0.08), 0px 30px 40px rgba(0, 0, 0, 0.08); }

.style-btn-fit-content {
  height: 52px;
  min-width: unset;
  padding: 0 4px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 2px 4px #dedede; }
  .style-btn-fit-content:hover {
    background-color: #fafafa;
    border: 2px solid #fafafa;
    box-shadow: 0 2px 4px #dedede; }
  .style-btn-fit-content:focus {
    box-shadow: 0 2px 4px #dedede; }

.style-btn-fill {
  color: white;
  background-color: #6184ff;
  border: 2px solid #6184ff; }
  .style-btn-fill:hover {
    background-color: #3d68ff;
    border: 2px solid #3d68ff; }
  .style-btn-fill:focus {
    border: 2px solid #2e5cff !important; }
  .style-btn-fill.style-btn-disable {
    color: white;
    background-color: #dedede;
    border: 2px solid #dedede;
    box-shadow: unset !important;
    cursor: not-allowed !important; }
    .style-btn-fill.style-btn-disable:hover {
      background-color: #dedede;
      border: 2px solid #dedede; }
    .style-btn-fill.style-btn-disable:focus {
      border: 2px solid #dedede !important; }

.style-btn-fill-white {
  color: #6184ff;
  background-color: white;
  border: 2px solid white;
  /*&:hover {
    background-color: lighten($ex-primary, 27%);
    border: 2px solid lighten($ex-primary, 27%);
  }*/ }
  .style-btn-fill-white:focus {
    border: 2px solid white !important; }
  .style-btn-fill-white.style-btn-disable {
    color: white;
    background-color: #dedede;
    border: 2px solid #dedede;
    box-shadow: unset !important;
    cursor: not-allowed !important; }
    .style-btn-fill-white.style-btn-disable:hover {
      background-color: #dedede;
      border: 2px solid #dedede; }
    .style-btn-fill-white.style-btn-disable:focus {
      border: 2px solid #dedede !important; }

.style-btn-transparent {
  color: #6184ff;
  background-color: transparent;
  border: 2px solid transparent; }
  .style-btn-transparent:hover {
    background-color: #ebefff;
    border: 2px solid #ebefff; }
  .style-btn-transparent:focus {
    border: 2px solid #6184ff !important; }
  .style-btn-transparent.style-btn-disable {
    color: white;
    background-color: #dedede;
    border: 2px solid #dedede;
    box-shadow: unset !important;
    cursor: not-allowed !important; }
    .style-btn-transparent.style-btn-disable:hover {
      background-color: #dedede;
      border: 2px solid #dedede; }
    .style-btn-transparent.style-btn-disable:focus {
      border: 2px solid #dedede !important; }

.style-btn-outline {
  color: #6184ff;
  background-color: transparent;
  border: 2px solid #6184ff; }
  .style-btn-outline:hover {
    background-color: #ebefff; }
  .style-btn-outline:focus {
    border: 2px solid #2e5cff !important; }
  .style-btn-outline.style-btn-disable {
    color: #dedede;
    border: 2px solid #dedede;
    box-shadow: unset !important;
    cursor: not-allowed !important; }
    .style-btn-outline.style-btn-disable:hover {
      background-color: unset;
      border: 2px solid #dedede; }
    .style-btn-outline.style-btn-disable:focus {
      border: 2px solid #dedede !important; }
  .style-btn-outline.style-btn-loading-dots {
    color: transparent; }
    .style-btn-outline.style-btn-loading-dots::after {
      content: "";
      width: 60px;
      height: 30px;
      position: absolute;
      background-image: url("/assets/images/btn-load-gray.svg");
      background-repeat: no-repeat; }

.style-btn-loading-spinner {
  color: transparent; }
  .style-btn-loading-spinner::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 3px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: btn-loading-spinner .9s ease infinite; }

@keyframes btn-loading-spinner {
  from {
    transform: rotate(0turn); }
  to {
    transform: rotate(1turn); } }

.style-btn-loading-dots {
  color: transparent; }
  .style-btn-loading-dots::after {
    content: "";
    width: 60px;
    height: 30px;
    position: absolute;
    background-image: url("/assets/images/btn-load-white.svg");
    background-repeat: no-repeat; }

.style-tag-container {
  width: fit-content;
  min-width: 80px;
  max-width: 105px;
  height: 27px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  margin: 3px;
  gap: 4px; }
  .style-tag-container.style-fit-content {
    min-width: unset;
    cursor: pointer; }
  .style-tag-container.style-tag-fill-colorize {
    color: #6184ff;
    background-color: #ebefff; }
  .style-tag-container.style-tag-fill-white {
    background-color: white; }
  .style-tag-container.style-tag-shadow {
    box-shadow: 0 2px 4px #dedede; }
  .style-tag-container.style-tag-fill-gray {
    background-color: whitesmoke; }
  .style-tag-container.style-tag-outline {
    border: 2px solid #dedede; }
  .style-tag-container.tag-error {
    color: #ff395d;
    background-color: #ffecef; }
  .style-tag-container p {
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .style-tag-container .style-icon-left {
    cursor: pointer; }
  .style-tag-container .style-icon-right {
    margin-left: 2px; }
  .style-tag-container .style-icon-right, .style-tag-container .style-icon-left {
    display: none;
    font-size: 16px; }
  .style-tag-container.style-tag-icon-right .style-icon-right {
    display: block; }
  .style-tag-container.style-tag-icon-left .style-icon-left {
    display: block; }

.style-tag-w100 {
  width: 100%;
  max-width: 100%; }
  .style-tag-w100 p {
    width: 100%; }

.style-modal-container {
  padding: 0 20px; }
  .style-modal-container p {
    margin: 0; }
  .style-modal-container .style-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #dedede; }
    .style-modal-container .style-modal-header p {
      font-size: 18px;
      font-weight: bold; }
    .style-modal-container .style-modal-header i {
      font-size: 23px;
      cursor: pointer; }
  .style-modal-container .style-modal-content {
    min-height: 12rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem; }
  .style-modal-container .style-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid #dedede; }
    .style-modal-container .style-modal-footer p {
      font-size: 12px;
      color: #949494; }
    .style-modal-container .style-modal-footer i {
      font-size: 18px;
      color: #949494; }
    .style-modal-container .style-modal-footer .style-right-fc {
      display: flex;
      align-items: center;
      gap: 5px; }
    .style-modal-container .style-modal-footer .style-left-fc {
      display: flex;
      gap: 20px; }
      .style-modal-container .style-modal-footer .style-left-fc button {
        border: none;
        height: 44px;
        padding: 0 17px;
        border-radius: 10px;
        font-size: 16px; }
      .style-modal-container .style-modal-footer .style-left-fc .style-btn-submit {
        color: white;
        background-color: #6184ff; }
        .style-modal-container .style-modal-footer .style-left-fc .style-btn-submit:hover {
          background-color: #3d68ff; }
      .style-modal-container .style-modal-footer .style-left-fc .style-btn-cancel {
        color: #6184ff;
        background-color: transparent;
        border: 1px solid #dedede; }

.style-radio-container {
  height: 16px;
  display: flex;
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 22px;
  user-select: none; }
  .style-radio-container.radio-disable .style-radio:checked ~ .style-checkmark {
    pointer-events: none;
    background-color: #dedede;
    border: 1px solid #dedede; }
  .style-radio-container .style-radio-text {
    font-size: 14px; }
  .style-radio-container .style-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .style-radio-container .style-radio:checked ~ .style-checkmark {
      background-color: #6184ff;
      border: 1px solid #6184ff; }
    .style-radio-container .style-radio:checked ~ .style-checkmark:after {
      display: block;
      top: 4px !important;
      left: 4px !important; }
    .style-radio-container .style-radio:checked ~ .style-checkmark-minus:after {
      content: "" !important; }
  .style-radio-container .style-checkmark-minus {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dedede; }
    .style-radio-container .style-checkmark-minus:after {
      display: block !important; }
    .style-radio-container .style-checkmark-minus:after {
      top: 6px !important;
      height: 2px !important;
      background-color: #c7c7c7 !important; }
  .style-radio-container .style-checkmark {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dedede;
    border-radius: 50%; }
    .style-radio-container .style-checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .style-radio-container .style-checkmark:after {
      width: 6px;
      height: 6px;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      background: white; }
  .style-radio-container:hover .style-checkmark {
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ebebeb; }

.style-checkbox-container {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 22px;
  user-select: none; }
  .style-checkbox-container.checkbox-disable .style-checkbox:checked ~ .style-checkmark {
    pointer-events: none;
    background-color: #dedede;
    border: 1px solid #dedede; }
  .style-checkbox-container .style-checkbox-text {
    font-size: 14px; }
  .style-checkbox-container .style-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 9; }
    .style-checkbox-container .style-checkbox:checked ~ .style-checkmark {
      background-color: #6184ff;
      border: 1px solid #6184ff; }
    .style-checkbox-container .style-checkbox:checked ~ .style-checkmark:after {
      display: block;
      top: 4px !important;
      left: 4px !important; }
    .style-checkbox-container .style-checkbox:checked ~ .style-checkmark-minus:after {
      content: "" !important; }
  .style-checkbox-container .style-checkmark-minus {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dedede; }
    .style-checkbox-container .style-checkmark-minus:after {
      display: block !important; }
    .style-checkbox-container .style-checkmark-minus:after {
      top: 6px !important;
      height: 2px !important;
      background-color: #c7c7c7 !important; }
  .style-checkbox-container .style-checkmark {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #dedede; }
    .style-checkbox-container .style-checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .style-checkbox-container .style-checkmark:after {
      width: 6px;
      height: 6px;
      top: 4px;
      left: 4px;
      border-radius: 2px;
      background: white; }
  .style-checkbox-container:hover .style-checkmark {
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ebebeb; }

ul {
  padding: 0; }

.style-tree-container {
  --padding: 2px; }
  .style-tree-container li ul li .style-expand, .style-tree-container li ul li .style-node-expand {
    padding-right: var(--padding); }
  .style-tree-container li {
    list-style: none; }
  .style-tree-container .style-expand {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer; }
    .style-tree-container .style-expand:hover {
      background-color: #fafafa; }
  .style-tree-container .style-tree-label {
    font-size: 14px; }
  .style-tree-container .style-node-expand {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer; }
  .style-tree-container .style-checkbox-container {
    height: 16px; }
  .style-tree-container .style-tree-bck-select {
    background-color: whitesmoke !important; }

.style-field-container {
  min-width: unset;
  padding: unset;
  padding-inline-start: 10px;
  margin: unset;
  border: 2px solid #949494;
  border-radius: 10px;
  position: relative;
  height: 56px;
  direction: rtl;
  /*margin-bottom: 30px;*/
  cursor: pointer; }
  .style-field-container:focus-within {
    border-color: #6184ff !important; }
    .style-field-container:focus-within .style-label {
      color: #6184ff !important; }
  .style-field-container .style-text-right {
    position: absolute;
    right: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494; }
  .style-field-container .style-text-left {
    position: absolute;
    left: 10px;
    top: 46px;
    font-size: 12px;
    color: #949494;
    direction: ltr; }
  .style-field-container > .style-icon-right {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px; }
  .style-field-container > .style-icon-left {
    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 22px; }
  .style-field-container.style-field-icon-right .style-icon-right {
    display: block; }
  .style-field-container.style-field-icon-right .style-field {
    padding-right: 40px; }
  .style-field-container.style-field-icon-right .style-label {
    right: 40px; }
  .style-field-container.style-field-icon-left .style-icon-left {
    display: block; }
  .style-field-container.style-field-icon-left .style-field {
    width: 90%; }
  .style-field-container .style-label {
    color: #949494;
    position: absolute;
    top: 7px;
    font-size: 12px;
    right: 15px;
    pointer-events: none;
    transition: 0.2s ease all; }
  .style-field-container.style-field-value .style-label {
    top: -15px !important;
    right: 15px;
    font-size: 10px;
    transition: 0.2s ease all; }
  .style-field-container.style-field-value .style-space-label::after {
    opacity: 0 !important; }
  .style-field-container .style-space-label {
    color: transparent;
    float: unset;
    width: unset;
    padding: 0 5px;
    margin-bottom: unset;
    font-size: 10px;
    line-height: unset;
    position: relative;
    user-select: none; }
    .style-field-container .style-space-label::after {
      content: "-";
      background-color: #949494;
      width: 100%;
      height: 2px;
      color: transparent;
      font-weight: bold;
      position: absolute;
      top: 6.5px;
      right: 0;
      transition: 0.1s; }
  .style-field-container .style-field {
    width: 97%;
    height: 45px;
    font-size: 12px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    border: none !important;
    border-radius: 10px;
    padding: 0 7px;
    background-color: transparent !important; }
    .style-field-container .style-field:focus {
      outline: none !important; }
  .style-field-container.field-disable {
    pointer-events: none;
    opacity: 50%; }
  .style-field-container.field-error {
    border-color: #ff395d; }
    .style-field-container.field-error .style-space-label:after {
      background-color: #ff395d; }
    .style-field-container.field-error .style-label {
      color: #ff395d; }
    .style-field-container.field-error .style-text-right {
      color: #ff395d; }
  .style-field-container.field-empty {
    background-color: #f4f5f6;
    border-color: #f4f5f6; }
    .style-field-container.field-empty .style-space-label:after {
      background-color: #f4f5f6; }
    .style-field-container.field-empty .style-label {
      color: #cccccc; }
  .style-field-container.field-without-label {
    height: 49px; }
    .style-field-container.field-without-label .style-field {
      top: 0; }
    .style-field-container.field-without-label .style-label {
      top: 13px; }

.style-toggle-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #dedede;
  padding: 3px;
  border-radius: 7px;
  overflow: hidden; }
  .style-toggle-container .style-toggle {
    width: 100%;
    height: 100%; }
    .style-toggle-container .style-toggle .style-toggle-radio {
      display: none; }
      .style-toggle-container .style-toggle .style-toggle-radio:checked + .style-toggle-btn {
        color: black;
        background-color: white;
        filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.04)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.12)); }
    .style-toggle-container .style-toggle .style-toggle-btn {
      width: 100%;
      height: 100%;
      color: #949494;
      border-radius: 5px;
      font-size: 16px;
      padding: 0 16px;
      cursor: pointer;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      -webkit-user-select: none;
      user-select: none;
      transition: 0.2s; }
      .style-toggle-container .style-toggle .style-toggle-btn:hover {
        background-color: #e6e6e6; }

.style-tab-container {
  width: 100%;
  min-height: 54px;
  display: flex;
  list-style: none;
  font-size: 12px;
  margin: 0;
  color: #657786;
  border-bottom: 1px solid #dedede; }
  .style-tab-container .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 2rem;
    margin-bottom: -1px;
    white-space: nowrap;
    cursor: pointer; }
    .style-tab-container .tab i {
      font-size: 16px; }
    .style-tab-container .tab:hover {
      background-color: #fafafa; }
  .style-tab-container .style-active-tab {
    color: #6184ff;
    border-bottom: 1.5px solid #6184ff; }
