@import "./variables";

.style-list-container {
  height: 48px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: lighten($ex-light-gray, 11%) !important;
  }

  &.click-list {
    background-color: lighten($ex-light-gray, 9%);
  }

  & i {
    font-size: 19px;
  }

  & .style-list-right-section {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    width: 50%;

    & p {
      width: 100%;
      margin: 0;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .style-list-left-section {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 50%;

    & p {
      margin: 0;
      font-size: 10px;
      color: lighten($ex-blue-gray, 5%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
