@import "./variables";

.style-modal-container {
  /*padding: 0 20px;*/

  & p {
    margin: 0;
  }

  & .style-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid $ex-light-gray;

    & p {
      font-size: 18px;
      font-weight: bold;
    }

    & i {
      font-size: 23px;
      cursor: pointer;
    }
  }

  & .style-modal-content {
    min-height: 12rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
  }

  & .style-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
    margin: 0 20px;
    position: relative;
    border-top: 1px solid $ex-light-gray;

    & p {
      font-size: 12px;
      color: $ex-gray;
    }

    & i {
      font-size: 18px;
      color: $ex-gray;
    }

    & .style-right-fc {
      display: flex;
      align-items: center;
      gap: 5px;
      position: absolute;
      right: 0;
    }

    & .style-left-fc {
      display: flex;
      gap: 20px;
      position: absolute;
      left: 0;

      & button {
        border: none;
        height: 44px;
        padding: 0 17px;
        border-radius: 10px;
        font-size: 16px;
      }

      & .style-btn-submit {
        color: $ex-white;
        background-color: $ex-primary;

        &:hover {
          background-color: darken($ex-primary, 7%);
        }
      }

      & .style-btn-cancel {
        color: $ex-primary;
        background-color: transparent;
        border: 1px solid $ex-light-gray;
      }
    }
  }
}
