@import "./variables";

ul {
  padding: 0;
}

.style-tree-container {
  --padding: 2px;

  & li {
    ul {
      li {
        .style-expand, .style-node-expand {
          padding-right: var(--padding);
        }
      }
    }
  }

  & li {
    list-style: none;
  }

  & .style-expand {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &:hover {
      background-color: lighten($ex-light-gray, 11%);
    }
  }

  & .style-tree-label {
    font-size: 14px;
  }

  & .style-node-expand {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  & .style-checkbox-container {
    height: 16px;
  }

  & .style-tree-bck-select {
    background-color: lighten($ex-light-gray, 9%) !important;
  }
}
