$ex-primary: rgb(97, 132, 255);

$ex-white: rgb(255, 255, 255);

$ex-black: rgb(0, 0, 0);

$ex-gray: rgb(148, 148, 148);

$ex-light-gray: rgb(222, 222, 222);

$ex-blue-gray: rgb(101, 119, 134);

$ex-red: rgb(255, 57, 93);
